@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@keyframes fadein-header {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadein-footer {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes opacidad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Resset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 25px;
  background-color: #1A1A1A;
  text-decoration: none;
  border-radius: 0 0 20px 20px;
  animation: fadein-header 0.6s ease-out forwards;
}
header img {
  height: 30px;
}
header img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
header ul a {
  text-decoration: none;
  color: #E3E3E3;
  font-weight: 600;
}
header ul a:hover {
  color: #FF7E00;
}
header ul .actual {
  color: #00A6FF;
}

/* Body */
body {
  font-family: "Google Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #242424;
}
body main {
  flex-grow: 1;
  /* Esto empuja el footer hacia abajo */
  margin-left: 6%;
  margin-right: 6%;
  color: #E3E3E3;
}
body main .intro {
  width: 50%;
  margin-bottom: 2rem;
}
body main h1 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
}
body main h3 {
  margin-bottom: 1rem;
}
body main button {
  margin-top: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #FF7E00;
  color: #1A1A1A;
  border-radius: 5px;
  border: 3px solid transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}
body main button:hover {
  background-color: transparent;
  color: #FF7E00;
  border-color: #FF7E00;
  transition: all 0.3s ease;
}
body {
  /* Footer */
}
body footer {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  padding: 25px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #1A1A1A;
  border-radius: 20px 20px 0 0;
  animation: fadein-footer 0.6s ease-out forwards;
}
body footer img {
  height: 30px;
}
body footer img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

/* Main de la home */
section iframe {
  border: none;
  border-radius: 10px;
  width: 49%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
section iframe:hover {
  transform: scale(1.1);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}
section iframe .galeria-behance {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

/* Main de trabajos */
.cajas-proyectos .card {
  background-color: #1A1A1A;
  border-radius: 10px;
}
.cajas-proyectos .card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
.cajas-proyectos .card img {
  border-radius: 10px 10px 0px 0px;
}

/* Main Sobre mi */
.info-cv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.info-cv h5 {
  color: #00A6FF;
}

.card {
  margin-bottom: 1REM;
  background-color: #1A1A1A;
}
.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.experiencia h5 {
  color: #FF7E00;
}

/* Main de contacto */
.p-contacto {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-contacto form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-contacto label {
  font-weight: 600;
  color: #E3E3E3;
  margin-bottom: 4px;
  display: block;
}
.form-contacto input,
.form-contacto textarea,
.form-contacto select {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #E3E3E3;
  border-radius: 8px;
  font-family: "Google Sans", sans-serif;
  font-size: 1rem;
  color: #1A1A1A;
  background-color: #E3E3E3;
  transition: border-color 0.3s;
  outline: none;
}
.form-contacto {
  /* Efecto al hacer foco en el campo */
}
.form-contacto input:focus,
.form-contacto textarea:focus,
.form-contacto select:focus {
  border-color: #FF7E00;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  header {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  header ul {
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  body main .intro {
    width: 100%;
  }
  body main .intro h1 {
    font-size: 2rem;
  }
  body .galeria-behance {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  body .galeria-behance iframe {
    width: 100%;
    margin-bottom: 20px;
  }
  body footer {
    margin-left: 2%;
    margin-right: 2%;
  }
  body .info-cv {
    display: flex;
    flex-direction: column;
  }
  body .p-contacto {
    margin-top: 5%;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
/* Para pantallas medianas (tablets) */
@media (min-width: 481px) and (max-width: 978px) {
  body main .intro {
    width: 70%;
  }
  body main .intro h1 {
    font-size: 2rem;
  }
  body main .info-cv {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=estilos.css.map */
