@use '../generales/variables' as*;

/* Para pantallas pequeñas (móviles) */

@media (max-width: 480px) {

    body {

        header {
            margin-left: 2%;
            margin-right: 2%;
            @include adapt-mv;

            ul {
                flex-direction: row;
                gap: 20px;
                margin: 0;
                padding: 0;
            }
        }

        main {

            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            h3 {
                font-size: 1.2rem;
            }

            .intro {
                width: 100%;

            }

        }

        .galeria-behance {
            @include adapt-mv;

            .frame-1,
            .frame-2 {
                width: 100%;
                margin-bottom: 20px;

                &:hover {
                    transform: none;
                }
            }
        }

        footer {
            margin-left: 2%;
            margin-right: 2%;
        }

        .info-cv {
            display: flex;
            flex-direction: column;
        }

        .p-contacto {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}


/* Para pantallas medianas (tablets) */
@media (min-width: 481px) and (max-width: 978px) {

    body {
        main {

            .intro {
                width: 70%;
            }

            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            h3 {
                font-size: 1.2rem;
            }

            .info-cv {
                display: flex;
                flex-direction: column;
            }

            .galeria-behance {
                @include adapt-mv;

                .frame-1,
                .frame-2 {
                    width: 100%;
                    margin-bottom: 20px;

                    &:hover {
                        transform: none;
                    }

                }

            }
        }
    }
}