@use '../generales/variables' as*;

/* Main de trabajos */

.img-trabajos {
    img {
        border-radius: 10px;
        margin: 50px;
    }
}

.cajas-proyectos {
    .card {
        background-color: $negro;
        &:hover {
        transform: scale(1.02);    
        transition: transform 0.3s ease;
        }
    }
}      