@use '../generales/variables' as*;

/* Main de trabajos */


.cajas-proyectos {
    .card {
        background-color: $negro;
        border-radius: 10px;

        &:hover {
        transform: scale(1.02);    
        transition: transform 0.3s ease;
        }
        
        img {
        border-radius: 10px 10px 0px 0px;
    }
    }
}      